html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2e7dc;
}

.cabecalho {
  background-color: #f2a03d;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.cabecalho img {
  height: 100%;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {
  color: #731212;
  font-size: 18px;
  transition: all 0.5s;
}

.navbar a:hover {
  color: #f2e7dc;
}

.imagem-inicio {
  width: 100%;
}

img {
  height: 400px;
}

.imagem-inicio-mb img {
  display: none;
}

#inicio h1 {
  font-size: 46px;
  font-weight: 600;
  color: #731212;
  text-align: center;
  margin: 80px 0;
  text-shadow: 1px 2px 2px #121212;
}

#inicio p {
  font-size: 18px;
  text-align: justify;
  width: 800px;
  margin: auto;
  padding: 20px;
  line-height: 30px;
  color: #731212;
}

h3 {
  font-size: 28px;
  text-align: center;
  padding: 0 10px 20px 20px;
  color: #f2a03d;
  font-weight: 600;
}

.destaque-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.destaque {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 50px;
}

.destaque a {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #731212;
  font-weight: 600;
}

.destaque a:hover {
  color: #f2a03d;
}

.destaque-section h3 {
  margin-top: 80px;
}

button {
  background-color: #731212;
  width: 300px;
  padding: 10px 0;
  margin: 20px auto 0px auto;
  border-radius: 12px;
  color: #f2e7dc;
}

button:hover {
  color: #f2a03d;
}

article img {
  height: 250px;
  border-radius: 16px;
  box-shadow: 5px 5px 10px 0px #731212;
  margin-bottom: 10px;
  margin-top: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 80px;
  background-color: #f2a03d;
}

footer p {
  color: #731212;
  font-weight: 600;
}

/* Responsividade Mobile */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    gap: 5px;
  }
  .navbar a {
    font-size: 16px;
  }

  .imagem-inicio-mb img {
    display: flex;
    height: 220px;
  }

  .imagem-inicio {
    display: none;
  }

  h3 {
    font-size: 25px;
  }

  #inicio h1 {
    font-size: 40px;
  }

  #inicio p {
    font-size: 18px;
    width: 300px;
    padding: 20px;
  }

  article img {
    height: 200px;
  }

  footer p {
    font-size: 12px;
  }
}
